@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body {
  font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(195, 221, 255);
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(128, 128, 128);
    height: 50px;
}

.navbar a {
  position: relative;
  left: 50px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    text-transform: uppercase;
    transition: .25s;
}

.navbar a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

#top {
    display: flex;
    height: 170px;
    padding: 10px;
    background-color: rgb(68, 68, 68);
    color: white;
}

#top img {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 128px;
}

#top h1 {
    position: absolute;
    top: 30px;
    left: 180px;
}

.section {
    position:sticky;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% ;
  }
  
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(195, 221, 255);
    width: 100%;
    height: 100vh;
    opacity: 0.5;
  }

  video {
      width: 100%;
  }

 #p {
     display: flex;
    justify-content: center;
 }

  .news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    bottom: 65vh;
    margin: 0;
  }

  .content {
    position: absolute;
    top: 3rem;
    left: 34.5rem;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    background-color: gray;
    width: 450px;
    border-radius: 20px;
  }

  .news img {
    width: 450px;
    height:253.13px;
    border-radius: 20px 20px 0 0 ;
  }

  .content a {
    text-decoration: none;
    color: black;
  }

  .content a:hover {
    text-decoration: underline;
  }
  .content h2, p {
    margin-left: 1rem;
  }

  .content h2 {
    margin-top: -0.5rem;
  }


  .content2 {
    position: absolute;
    top: 3rem;
    left: 3.5rem;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    background-color: gray;
    width: 450px;
    border-radius: 20px;
  }

  .content2 a {
    text-decoration: none;
    color: black;
  }

  .content2 a:hover {
    text-decoration: underline;
  }
  .content2 h2, p {
    margin-left: 1rem;
  }

  .content2 h2 {
    margin-top: -0.5rem;
  }

  .content3 {
    position: absolute;
    top: 3rem;
    left: 65rem;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    background-color: gray;
    width: 450px;
    border-radius: 20px;
  }

  .content3 a {
    text-decoration: none;
    color: black;
  }

  .content3 a:hover {
    text-decoration: underline;
  }
  .content3 h2, p {
    margin-left: 1rem;
  }

  .content3 h2 {
    margin-top: -0.5rem;
  }

  .content4 {
    position: absolute;
    top: 32rem;
    left: 3.5rem;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    background-color: gray;
    width: 450px;
    border-radius: 20px;
  }

  .content4 a {
    text-decoration: none;
    color: black;
  }

  .content4 a:hover {
    text-decoration: underline;
  }
  .content4 h2, p {
    margin-left: 1rem;
  }

  .content4 h2 {
    margin-top: -0.5rem;
  }
